.topbar {
    padding:15px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    background-image: url("./header.jpg");
    background-repeat: repeat-x;
    background-size:400px 150px;
    height: 150px;
    width:100%;

    .ownerName{
        font-size:48px;
        color: white;
        font-weight:bolder
    }

    .menu{
        display:flex;
        flex-direction:row;
        column-gap: 24px;
        
    }

    .nav-item{
        font-size : 24px;
        color: white;
        font-weight:bold;
    }

    .active{
        color: green;
        border-bottom: 3px solid green;
    }

    .nav-item:hover{
        cursor: pointer;
        color: green;
    }
}