.cards {
    padding-top: 36px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    row-gap: 36px;
    column-gap: 36px;
}

.card {
    display:flex;
    flex-direction: column;
    transition:0.3s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px red;
}